%div
    %h4 slots
    -  @slots
    -  @existing_slots_for_this_day
    -  possible_slots = ['09:00','09:30','10:00','10:30','11:00','11:30',
            '12:00','12:30','13:00','13:30','14:00',
            '14:30','15:00','15:30','16:00','16:30',
        '17:00','17:30']
    .row
        -p @slots
        -p @existing_slots_for_this_day
        -p current_user.id
        - possible_slots.each do |slot|
            .col-12
            - if @existing_slots_for_this_day.include?(slot)
                .row
                    .col-12
                        .card.bg-primary.text-dark
                            .card-body 
                                .row 
                                    .col-7
                                        %label{for: slot} #{slot} bookable slot
                                    .col-3
                                        = link_to 'cancel?', '#', class: 'btn btn-primary custom-border'
            - else
                .row
                    .col-12
                        .card.bg-light.text-dark
                            .card-body 
                                .row 
                                    .col-7 
                                        %label{for: slot} #{slot} non-bookable  
                                    .col-3
                                        = link_to 'create?', '#', class: 'btn btn-secondary'

