%h1 Open slots
%ul
  - @slot.each do |slot|
    - start_and_end = "from #{slot.start.strftime("%H:%M%P")} to #{slot.end.strftime("%H:%M%P, %a %b %d")}"
    - if !(slot.is_booked)
      %li
        = link_to start_and_end, slot