console.log('Hello! I am in the timeslice code!')


function doSomething(){
    var checkboxes = document.querySelectorAll('.time-checkbox')
    checkboxes.forEach(box => {
        
    })
}

$(document).ready(function() {

    $("td.slot-day").on("click", function() {

        console.log('clicky')
        $.ajax({
        method: "POST",
        url: "timeslices",
        data: { fruit: "banana", vegie: "carrot" }
      })
        .done(function( page ) {
          $("#booking-window").html(page)
        });

     });

     



});


<%#
document.addEventListener('DOMContentLoaded', function(){

    



    var times = [
        '09:00',
        '09:30',
        '10.00',
        '10.30',
        '11.00',
        '11.30',
        '12.00',
        '12.30',
        '13.00',
        '13.30',
        '14.00',
        '14.30',
        '15.00',
        '15.30',
        '16.00',
        '16.30',
        '17.00',
        '17.30',
    ]
    var allDates = document.querySelectorAll("td");

    let bookingTable = document.getElementById('booking-table')
    let rowIndex = 0

    function generateBookingSliders(){
        bookingTable.innerHTML = '<h4> timeslots </h4>'
        times.forEach(timeslot => {
            cell = bookingTable.insertRow(rowIndex)
            cell.innerText += timeslot
            cell.innerHTML += `&nbsp&nbsp<input type="checkbox" class="time-checkbox" onclick="doSomething()">
            `;
            cell.classList.add('timeslice')
            cell.id = rowIndex
            rowIndex += 1
    })
}
    allDates.forEach(date => date.addEventListener('click', ()=>{
        y = date.innerText.slice(0,4)
        m = parseInt(date.innerText.slice(5,7)) -1 
        d = date.innerText.slice(8,10)
        
        var options = { weekday: 'short'};
        day = new Intl.DateTimeFormat('en-US', options).format(new Date(y,m,d))
        isWeekday = ['Mon','Tue','Wed','Thu','Fri'].includes(day)
        
        if (isWeekday) {
            rowIndex = 0
            generateBookingSliders()
  
        } else {
            bookingTable.innerHTML = '<p> weekend slots cannot be booked :) </p>'
        }

    
        
        
    }))


});
%>