// Place all the styles related to the Slots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.simple-calendar{
    font-size: 90%;
    min-width: 450px;
}

.timeslice{
    border:1px solid black;
    font-size: 90%;
}

.parent{
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 2fr 1fr;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}

.booking-window{
    max-width: 90%;
}