// Place all the styles related to the Slots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.simple-calendar{
    width: 70% ;
    font-size: 90%
}

.timeslice{
    border:1px solid black;
    width: 70%
}